adbc_driver_manager==1.1.0
adbc_driver_postgresql==1.1.0
adbc_driver_sqlite==1.1.0
AppKit==0.2.8
asgiref==3.8.1
Babel==2.16.0
Beaker==1.13.0
beautifulsoup4==4.12.3
boto3==1.35.7
botocore==1.35.7
charset_normalizer==3.3.2
checks==0.2
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.0
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.11
dask==2024.8.1
defusedxml==0.7.1
docutils==0.21.2
dogpile.core==0.4.1
fastparquet==2024.5.0
filelock==3.15.4
Foundation==0.1.0a0.dev1
fsspec==2024.6.1
HTMLParser==0.0.2
hypothesis==6.111.2
importlib_metadata==8.4.0
importlib_resources==6.4.4
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.3.0
lingua==4.15.0
lxml==5.3.0
matplotlib==3.9.2
mtrand==0.1
numexpr==2.10.1
objgraph==3.6.1
odfpy==1.4.1
pickle5==0.0.12
Pillow==10.4.0
protobuf==5.27.4
psutil==6.0.0
py==1.11.0
PyInstaller==6.10.0
pyOpenSSL==24.2.1
PyQt4==4.11.4
PyQt5==5.15.11
pysqlcipher3==1.2.0
pytest==8.3.2
python-dotenv==1.0.1
python_calamine==0.2.3
pywin32==306
pyxlsb==1.0.10
PyYAML==6.0.2
qtpy==2.4.1
redis==5.0.8
s3fs==2024.6.1
scikit_learn==1.5.1
scipy==1.14.1
scipy_doctest==1.4
sets==0.3.2
setuptools==74.0.0
Sphinx==8.0.2
sqlcipher3==0.5.3
tables==3.10.1
thread==2.0.5
threadpoolctl==3.5.0
tornado==6.4.1
traitlets==5.14.3
urllib3_secure_extra==0.1.0
watchdog==5.0.0
xarray==2024.7.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
